{% extends 'base.html' %}
{% block Content %}


<!-- {% for message in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
       {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %} -->



<!-- 
    <h1>Hello World!!! </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quo corporis natus autem, asperiores reiciendis dolorum nostrum. Debitis ex ratione ab, vitae, nostrum cumque odio excepturi nisi deserunt quisquam aliquid!</p>
    <p>{{ first_name }}</p>
    <p>{{stuff}}</p>
    <p>{{stuff|safe}}</p>
    <p>{{stuff|striptags}}</p>
    <p>{{stuff|safe}}</p>
    <p>{{stuff|title|safe}}</p>
    <p>{{stuff|trim}}</p>

    {{  favourite_pizza }}

    <h3>Favorite Pizza: </h3>
    {% for topping in  favourite_pizza %}
        {{topping}}</br>
    {% endfor %}


    <br/>
    {{  favourite_pizza.2 }}
    <br/>
    {{  favourite_pizza.3 + 10 }}



    <h3>Favorite Pizza: </h3>
    {% for topping in  favourite_pizza %}

        {% if topping == 23 %}
            {{ topping+100}}<br/>
        {% else %}
            {{topping}}<br/>
        {% endif %}</br>
    {% endfor %}


    {{favourite_pizza.3|string + "Hello"}}<br/>
    {{favourite_pizza, favourite_pizza|wordcount, favourite_pizza.1|reverse}} -->
{% endblock %}